.employee-container{
    width: 100%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 3%;
}

.employee-form {
    max-width: 600px;
    margin: auto;
    background-color: white;
    padding: 3%;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.form-field {
    margin-bottom: 15px;
    text-align: left;

}

.form-field label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.form-field input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-field input:focus {
    border-color: #1892c3;
    outline: none;
}

.action-button {
    background-color: #1892c3;
    color: white;
    font-size: 18px;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.action-button:hover {
    font-size: 20px;
    padding: 14px 26px;
    background-color: #0d6efd;
}