@import url(https://fonts.bunny.net/css?family=montserrat:300);

body, html {
    font-family: "Montserrat", sans-serif;
    background-color: #f0f2f5;
}

.navbar-blank-box{
    padding-bottom: 30px;
}

.logo {
    display: flex;
    margin: auto;
    margin-left: 1%;
}

.navbar .logo a {
    display: flex;
    padding: 0;
}

.logo img {
    height: 30px;
}

#header-logged-in {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
}

.navbar {
    height: 30px;
    display: flex;
    background-color: #1892c3;
}

.navbar a {
    text-align: center;
    padding: 1% 1%;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    transition: color 0.3s ease; /* Add transition for hover effects */
}

.navbar a:hover {
    color: #233249;
}

.clickable {
    display: flex;
    margin: 0 24px 0 auto;
}

.clickable a {
    padding: 0 10px;
}

.link-container {
    display: flex;
    margin: auto;
}

.button-container {
    display: flex;
    margin-right: 33px;
}

.clickable button{
    height: 40px;
    outline: none;
    border: none;
    font-size: 1rem;
    color: #fff;
    background: #00bcd4;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s ease;
}

.clickable button:hover {
    background: #0097a7;
}

.navbar a.navbar-link-btn {
    height: 25px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1rem;
    font-weight: lighter;
    color: #fff;
    background: #00bcd4;
    border-radius: 3px;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5;
    margin: 2px;
}

.navbar a.navbar-link-btn:hover {
    background-color: #0097a7;
}