<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href = "../static/css/layer.css" th:href="@{/css/layout.css}" rel = "stylesheet">
    <link href="https://cdn.datatables.net/2.3.0/css/dataTables.dataTables.css" rel="stylesheet" />

</head>
<body>


<div class="container">
<div class="form-container">
    <h2> Opret en ny bil </h2>
    <form class="form2" th:action="@{/createCar}" method="post">
        <label for="car-model-id">Model id:</label>
        <input type="text" id="car-model-id" name="car-model-id" placeholder="Indtast bilens model id" required>

        <label for="vin-number">Stelnummer:</label>
        <input type="text" id="vin-number" name="vin-number" placeholder="Indtast bilens stelnummer" required>

        <label for="color">Indtast bilens farve:</label>
        <input type="text" id="color" name="color" placeholder="Indtast bilens farve" required>

        <button type="submit"> Opret bil </button>

    </form>
</div>
</div>
<div class="lease_container">
    <table id="" class="display">
        <thead>
        <tr>
            <th>Vehicle Id</th>
            <th>Customer Id</th>
            <th>Lease Type</th>
            <th>Lease Price</th>
            <th>Lease Start Date</th>
            <th>Lease End Date</th>
            <th>Return Location</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each= "leaseAgreement: ${leaseAgreements}">
            <td th:text="${leaseAgreement.fkVehicleId}" />
            <td th:text="${leaseAgreement.fkCustomerId}" />
            <td th:text="${leaseAgreement.leaseType}" />
            <td th:text="${leaseAgreement.leasePrice}" />
            <td th:text="${leaseAgreement.leaseStartDate}" />
            <td th:text="${leaseAgreement.leaseEndDate}" />
            <td th:text="${leaseAgreement.returnLocation}" />
            <td>
                <form th:action="@{/deleteLease}" method="post">
                    <input type="hidden" name="lease_agreement_id" th:value="${leaseAgreement.leaseAgreementId}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<h2>Biler i systemet</h2>
<div class="container">
<table id="" class="display">
    <thead>
        <tr>
            <th>ID</th>
            <th>VIN Number</th>
            <th>Mærke</th>
            <th>Model</th>
            <th>Udstyr</th>
            <th>Farve</th>
            <th>Forkøbt</th>
            <th>Status</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="car: ${cars}">
            <td th:text="${car.vehicleId}" />
            <td th:text="${car.vinNumber}" />
            <td th:text="${car.getCarModel().getBrand()}" />
            <td th:text="${car.getCarModel().getModelName()}" />
            <td th:text="${car.getCarModel().getCarEquipment()}" />
            <td th:text="${car.color}" />
            <td th:text="${car.bought}" />
            <td th:text="${car.status}" />
            <td>
                <form th:action="@{/deleteCar}" method="post">
                <input type="hidden" name="vehicleId" th:value="${car.vehicleId}">
                <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>

</div>

<div class="ConditionReports-Container">
    <table id="" class="display">
        <thead>
        <tr>
            <th>ID</th>
            <th>Damage ID</th>
            <th>Vehicle ID</th>
            <th>Handled By</th>
            <th>Report Date</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="ConditionReport: ${conditionReports}">
            <td th:text="${car.vehicleId}" />
            <td th:text="${car.vinNumber}" />
            <td th:text="${car.getCarModel().getBrand()}" />
            <td th:text="${car.getCarModel().getModelName()}" />
            <td th:text="${car.getCarModel().getCarEquipment()}" />
            <td th:text="${car.color}" />
            <td th:text="${car.bought}" />
            <td th:text="${car.status}" />
            <td>
                <!--Skal laves i purchaseController
                <form th:action="@{/deleteCar}" method="post">
                    <input type="hidden" name="vehicleId" th:value="${car.vehicleId}">
                    <button type="submit">Delete</button>
                </form>
                -->
            </td>
        </tr>
        </tbody>
    </table>

</div>

<script src="https://code.jquery.com/jquery-3.7.1.js"> </script>
<script src="https://cdn.datatables.net/2.3.0/js/dataTables.js"></script>

<script>
    $(document).ready( function () {
        $('#myTable').DataTable();
    } );

    new DataTable('table.display');
</script>


</body>
</html>