<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/navbar.css}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.js"> </script>
    <!--
    <link href = "../static/css/datatables.css" th:href="@{/css/datatables.css}" rel="stylesheet">
    <script src="https://cdn.datatables.net/2.3.0/js/dataTables.js"></script>
    -->
</head>
<body>
<header th:replace="~{fragments.html :: navbar}"></header>

<!--
<div class="container">
<div class="form-container">
    <h2> Opret en ny bil </h2>
    <form class="form2" th:action="@{/createCar}" method="post">
        <label for="car-model-id">Model id:</label>
        <input type="text" id="car-model-id" name="car-model-id" placeholder="Indtast bilens model id" required>

        <label for="vin-number">Stelnummer:</label>
        <input type="text" id="vin-number" name="vin-number" placeholder="Indtast bilens stelnummer" required>

        <label for="color">Indtast bilens farve:</label>
        <input type="text" id="color" name="color" placeholder="Indtast bilens farve" required>

        <button type="submit"> Opret bil </button>

    </form>
</div>
</div>
-->

<label for="tableSelector">Choose a table:</label>
<select id="tableSelector">
    <option value="lease_table">Leasingaftaler</option>
    <option value="lease_table_inactive">Færdige leasingaftaler</option>
    <option value="car_table">Biler</option>
    <option value="condition_report_table">Tilstandsrapporter</option>
    <option value="damage_table">Skader</option>
    <option value="employee_table">Ansatte</option>
    <option value="purchase_agreement_table">Købsaftaler</option>
    <option value="Customer_table">Kunder</option>
</select>


<div class="dataTable" id="lease_table">
<h2>Aktive leasing aftaler</h2>
    <table class="display compact">
        <thead>
        <tr>
            <th>Lease detaljer</th>
            <th>Vehicle Id</th>
            <th>Customer Id</th>
            <th>Lease Type</th>
            <th>Lease Price</th>
            <th>Lease Start Date</th>
            <th>Lease End Date</th>
            <th>Return Location</th>
            <th>Delete</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each= "leaseAgreement: ${leaseAgreements}" th:if="${leaseAgreement.active}">
            <td>
                <form th:action="@{/leaseDetails}" method="get">
                    <input type="hidden" th:value="${leaseAgreement.leaseAgreementId}" name="lease_agreement_id">
                    <button type="submit"> Vis lease </button>
                </form>
                <td th:text="${leaseAgreement.fkVehicleId}" />
                <td th:text="${leaseAgreement.getCustomer().getCustomerId()}" />
                <td th:text="${leaseAgreement.leaseType}" />
                <td th:text="${leaseAgreement.leasePrice}" />
                <td th:text="${leaseAgreement.leaseStartDate}" />
                <td th:text="${leaseAgreement.leaseEndDate}" />
                <td th:text="${leaseAgreement.returnLocation}" />
            <td>
                <form th:action="@{/deleteLease}" method="post">
                    <input type="hidden" name="lease_agreement_id" th:value="${leaseAgreement.leaseAgreementId}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="dataTable" id="lease_table_inactive">
<h2>Inaktive leasing aftaler</h2>
    <table class="display compact">
        <thead>
        <tr>
            <th>Lease detaljer</th>
            <th>Vehicle Id</th>
            <th>Customer Id</th>
            <th>Lease Type</th>
            <th>Lease Price</th>
            <th>Lease Start Date</th>
            <th>Lease End Date</th>
            <th>Return Location</th>
            <th>Delete</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each= "leaseAgreement: ${leaseAgreements}" th:if="${!leaseAgreement.active}">
            <td>
                <form th:action="@{/leaseDetails}" method="get">
                    <input type="hidden" th:value="${leaseAgreement.leaseAgreementId}" name="lease_agreement_id">
                    <button type="submit"> Vis lease </button>
                </form>
            </td>
            <td th:text="${leaseAgreement.fkVehicleId}" />
            <td th:text="${leaseAgreement.getCustomer().getCustomerId()}" />
            <td th:text="${leaseAgreement.leaseType}" />
            <td th:text="${leaseAgreement.leasePrice}" />
            <td th:text="${leaseAgreement.leaseStartDate}" />
            <td th:text="${leaseAgreement.leaseEndDate}" />
            <td th:text="${leaseAgreement.returnLocation}" />
            <td>
                <form th:action="@{/deleteLease}" method="post">
                    <input type="hidden" name="lease_agreement_id" th:value="${leaseAgreement.leaseAgreementId}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="dataTable" id="car_table">
<h2>Biler</h2>
    <table class="display compact">
        <thead>
            <tr>
                <th>ID</th>
                <th>VIN Number</th>
                <th>Mærke</th>
                <th>Model</th>
                <th>Udstyr</th>
                <th>Farve</th>
                <th>Forkøbt</th>
                <th>Status</th>
                <th>Delete</th>
                <th>Create</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="car: ${cars}">
                <td th:text="${car.getVehicleId()}" />
                <td th:text="${car.vinNumber}" />
                <td th:text="${car.getCarModel().getBrand()}" />
                <td th:text="${car.getCarModel().getModelName()}" />
                <td th:text="${car.getCarModel().getCarEquipment()}" />
                <td th:text="${car.color}" />
                <td th:text="${car.bought}" />
                <td th:text="${car.status}" />
                <td>
                    <form th:action="@{/deleteCar}" method="post">
                    <input type="hidden" name="vehicleId" th:value="${car.vehicleId}">
                    <button type="submit">Delete</button>
                    </form>
                </td>
                <td>   <!-- Below statement checks whether there is a condition report for said vehicle ID, and prints
                        a different button, depending on whether or not there is-->
                    <div th:if="${conditionReportsMap[car.vehicleId] != null}">
                        <form th:action="@{/create-condition-report}" method="get">
                            <input type="hidden" name="condition_report_id"
                                   th:value="${conditionReportsMap[car.vehicleId].conditionReportId}" />
                            <button type="submit">Rediger tilstandsrapport</button>
                        </form>
                    </div>
                    <div th:unless="${conditionReportsMap[car.vehicleId] != null}">
                        <form th:action="@{/createConditionReport}" method="post">
                            <input type="hidden" name="vehicle_id" th:value="${car.vehicleId}" />
                            <button type="submit"> Opret tilstandsrapport </button>
                        </form>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="dataTable" id="condition_report_table">
<h2>Tilstandsrapporter</h2>
    <table class="display compact" >
        <thead>
        <tr>
            <th>ID</th>
            <th>Handler</th>
            <th>Dato</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="conditionReport: ${conditionReports}">
            <td th:text="${conditionReport.conditionReportId}" />
            <td th:text="${conditionReport.handledBy}" />
            <td th:text="${conditionReport.reportDate}" />
            <td>
                <form th:action="@{/deleteConditionReport}" method="post">
                    <input type="hidden" name="condition_report_id" th:value="${conditionReport.conditionReportId}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="dataTable" id="damage_table">
<h2>Skader</h2>
    <table class="display compact" >
        <thead>
        <tr>
            <th>ID</th>
            <th>Tilstandsrapport-ID</th>
            <th>Pris</th>
            <th>Type skade</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="damage: ${damages}">
            <td th:text="${damage.damageId}" />
            <td th:text="${damage.conditionReportId}" />
            <td th:text="${damage.damagePrice}" />
            <td th:text="${damage.damageType}" />
            <td>
                <form th:action="@{/deleteDamage}" method="post">
                    <input type="hidden" name="damageId" th:value="${damage.damageId}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="dataTable" id="employee_table">
<h2>Ansatte</h2>
    <table class="display compact" >
        <thead>
        <tr>
            <th>ID</th>
            <th>Fornavn</th>
            <th>Efternavn</th>
            <th>Shortname</th>
            <th>Email</th>
            <th>Rolle</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee: ${employees}">
            <td th:text="${employee.employeeId}" />
            <td th:text="${employee.firstName}" />
            <td th:text="${employee.lastName}" />
            <td th:text="${employee.shortName}" />
            <td th:text="${employee.email}" />
            <td th:text="${employee.getRole()}" />
            <td>
                <form th:action="@{/deleteEmployee}" method="post">
                    <input type="hidden" name="empployeeId" th:value="${employee.employeeId}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="dataTable" id="purchase_agreements_table">
<h2>Købsaftaler</h2>
    <table class="display compact">
        <thead>
        <tr>
            <th>ID</th>
            <th>Kunde id</th>
            <th>Bil id</th>
            <th>Pris</th>
            <th>Betalt?</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="purchaseAgreement: ${purchaseAgreements}">
            <td th:text="${purchaseAgreement.purchaseAgreementId}" />
            <td th:text="${purchaseAgreement.fkCustomerId}" />
            <td th:text="${purchaseAgreement.fkVehicleId}" />
            <td th:text="${purchaseAgreement.carPrice}" />
            <td th:text="${purchaseAgreement.paid}" />
            <td>
                <form th:action="@{/deletePurchaseAgreement}" method="post">
                    <input type="hidden" name="purchaseAgreementId" th:value="${purchaseAgreement.purchaseAgreementId}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="dataTable" id="customer_table">
    <table class="display compact">
        <h2>Kunder</h2>
        <thead>
        <tr>
            <th>ID</th>
            <th>Fornavn</th>
            <th>Efternavn</th>
            <th>Email</th>
            <th>Cpr-nummer</th>
            <th>TelefonNummer</th>
            <th>Adresse</th>
            <th>By</th>
            <th>Postnummer</th>
            <th>Bil id</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer: ${customers}">
            <td th:text="${customer.customerId}" />
            <td th:text="${customer.firstName}" />
            <td th:text="${customer.lastName}" />
            <td th:text="${customer.email}" />
            <td th:text="${customer.cprNumber}" />
            <td th:text="${customer.phoneNumber}" />
            <td th:text="${customer.address}" />
            <td th:text="${customer.city}" />
            <td th:text="${customer.postalCode}" />
            <td th:text="${customer.fkVehicleId}" />
            <td>
                <form th:action="@{/deleteCustomer}" method="post">
                    <input type="hidden" name="customerId" th:value="${customer.customerId}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        // Cache the table selector
        const tableSelector = $('#tableSelector');

        // Keep track of initialized tables
        // const initializedTables = {};

        // Initially hide all tables
        $('.dataTable').hide();

        // Show and initialize the default table
        const defaultTableId = tableSelector.val();
        $('#' + defaultTableId).show();
        //initializeTable(defaultTableId);

        // On table selection change
        tableSelector.on('change', function ()  {
            const selected = $(this).val();

            // Hide all tables
            $('.dataTable').hide();

            // Show the selected table
            $('#' + selected).show();

            //initializeTable(selected);
        });

        function initializeTable(tableId) {
            const tableElement = $('#' + tableId).find('table.display').DataTable({
                paging: false,
                scrollCollapse: true,
                scrollY: '50vh',
                destroy: true, // Allow reinitialization
            });

            // If DataTable is already initialized, destroy it first
            // if (initializedTables[tableId]) {
            //     initializedTables[tableId].destroy(); // Destroy the existing DataTable
            // }

            // Reinitialize the DataTable for the selected table
            // initializedTables[tableId] = tableElement.DataTable({
            //     paging: false,
            //     scrollCollapse: true,
            //     scrollY: '50vh',
            //     destroy: true, // Allow reinitialization
            // });
        }
    });
</script>
</body>
</html>