<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href = "../static/css/layer.css" th:href="@{/css/layout.css}" rel = "stylesheet">
</head>
<body>

<div class="container">
<div class="form-container">
    <h2> Opret en ny bil </h2>
    <form class="form2" th:action="@{/createCar}" method="post">
        <label for="car-model-id">Model id:</label>
        <input type="text" id="car-model-id" name="car-model-id" placeholder="Indtast bilens model id" required>

        <label for="vin-number">Stelnummer:</label>
        <input type="text" id="vin-number" name="vin-number" placeholder="Indtast bilens stelnummer" required>

        <label for="monthly-price">Indtast bilens månedlige pris:</label>
        <input type="number" id="monthly-price" name="monthly-price" placeholder="Indtast bilens månedlige pris" required>

        <label for="color">Indtast bilens farve:</label>
        <input type="text" id="color" name="color" placeholder="Indtast bilens farve" required>

        <button type="submit"> Opret bil </button>
    </form>
</div>
</div>


<h2>Biler i systemet</h2>
<div class="container">
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Car Model</th>
            <th>VIN Number</th>
            <th>Colour</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="car: ${cars}">
            <td th:text="${car.vehicleId}" />
            <td th:text="${car.fkCarModelId}" />
            <td th:text="${car.vinNumber}" />
            <td th:text="${car.color}" />
        </tr>
    </tbody>
</table>
</div>


</body>
</html>