<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret tilstandsrapport</title>
    <link th:href="@{/css/navbar.css}" rel="stylesheet">
</head>
<body>
<header th:replace="~{fragments.html :: navbar}"></header>

<h1> Kundeinfo </h1>
<table>
    <tr>
        <th>Navn</th>
        <th>Email</th>
        <th>Telefonnummer</th>
        <th>Adresse</th>
        <th>CPR-nummer</th>
    </tr>

    <tr>
        <td th:text="${customer.firstName}+' '+${customer.lastName}"></td>
        <td th:text="${customer.email}"></td>
        <td th:text="${customer.phoneNumber}"></td>
        <td th:text="${customer.address}+', '+${customer.city}+', '+${customer.postalCode}"></td>
        <td th:text="${customer.cprNumber}"></td>
    </tr>

</table>

<h1> Opret skade her </h1>
<form th:action="@{/createDamage}" method="post">
    <input type="hidden" name="condition_report_id" th:value="${condition_report_id}">

  <label>Skadestype:</label>
  <input type="text" name="damage_type" />

  <label>Pris:</label>
  <input type="number" name="damage_price" />

  <button type="submit"> Tilføj skade </button>
</form>

<h1> Overblik over skader på rapporten </h1>
<table>
    <tr>
        <th>Skade-ID</th>
        <th>Skadestype</th>
        <th>Pris</th>
    </tr>
    <tr th:each="damage : ${damages}">
        <td th:text="${damage.damageId}"></td>
        <td th:text="${damage.damageType}"></td>
        <td th:text="${damage.damagePrice}"></td>

        <td>
            <form th:action="@{/deleteDamage}" method="post">
                <input type="hidden" name="damage_id" th:value="${damage.damageId}">
                <input type="hidden" name="condition_report_id" th:value="${condition_report_id}">
                <button type="submit" class="btn">Slet</button>
            </form>
        </td>
    </tr>
    <tr>
        <th> Pris på leasing aftale </th>
        <th> Samlet pris på skader </th>
        <th> Total </th>
    </tr>
    <tr>
        <td th:text="${priceOfLeaseAgreement}" ></td>
        <td th:text="${totalPriceOfDamages}" ></td>
        <td th:text="${totalPriceToPay}" ></td>
        <td>
            <button type="submit" class="btn">Send opgørelse til bogholderi</button>
        </td>

    </tr>

</table>


</body>
</html>