<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="container">
  <div class="form-container">
    <h2>Opret ny kunde</h2>
    <form class="create-customer" th:action="@{/createCustomer}" method="post">
        <label class="label-create"  for="first_name">Fornavn:</label>
        <input type="text" id="first_name" name="first_name" placeholder="Indtast fornavn" required> <br> <br>

        <label class="label-create"  for="last_name">Efternavn:</label>
        <input type="text" id="last_name" name="last_name" placeholder="Indtast efternavn" required> <br> <br>

        <label class="label-create" for="email">Email:</label>
        <input type="text" id="email" name="email" placeholder="Indtast email:"> <br> <br>

        <label class="label-create" for="phone_number">Telefon nummer:</label>
        <input type="number" id="phone_number" name="phone_number" placeholder="Indtast mængde:" required> <br> <br>

        <label class="label-create" for="address">Adresse:</label>
        <input type="text" id="address" name="address" placeholder="Indtast adresse">

        <label class="label-create"  for="city">By:</label>
        <input type="text" id="city" name="city" placeholder="Indtast city" required> <br> <br>

        <label class="label-create" for="postal_code">Postnummer:</label>
        <input type="number" id="postal_code" name="postal_code" placeholder="Indtast postnummer:"> <br> <br>

        <label class="label-create" for="cpr_number">CPR-Nummer:</label>
        <input type="number" id="cpr_number" name="cpr_number" placeholder="Indtast cpr:" required> <br> <br>

        <label class="label-create" for="fk_vehicle_id">vehicleId:</label>
        <input type="number" id="fk_vehicle_id" name="fk_vehicle_id" placeholder="Indtast bilId">
    </form>

  </div>


</div>


</body>
</html>