<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.bunny.net/css?family=montserrat:400,600" rel="stylesheet" />
</head>
<body>
<!-- fragments that's meant to be used on multiple pages -->

<!-- Header for when not logged in -->
<div id="navbar" th:fragment="navbar">

    <!-- Header for when logged in -->
    <div th:if="${session.loggedInUser}!= null" id="header-logged-in" th:fragment="headerLoggedIn">
        <div class="navbar">
            <div class="logo">
                <a th:href="@{/}">
                    <img src="/images/fleetmanager-logo.png" alt="fleetmanager logo">
                </a>
            </div>

            <div class="banner warning-banner"
                 th:if="${numberOfCarsAvailable < carThreshold &&
             (session.loggedInUser.getRoleValue().equalsIgnoreCase('ADMIN') ||
              session.loggedInUser.getRoleValue().equalsIgnoreCase('BUSINESS_DEVELOPER') ||
              session.loggedInUser.getRoleValue().equalsIgnoreCase('DATA_RECORDING'))}"
                 th:text="'Advarsel: ' + ${numberOfCarsAvailable} + ' biler ledige!'">
            </div>

            <div class="banner warning-banner"
                 th:if="${numberOfLateReports > 0 &&
             (session.loggedInUser.getRoleValue().equalsIgnoreCase('ADMIN') ||
              session.loggedInUser.getRoleValue().equalsIgnoreCase('MECHANIC'))}"
                 th:text="'Advarsel: ' + ${numberOfLateReports} + ' tilstandsrapporter er over 3 dage forsinkede!'">
            </div>

            <div class="clickable">
                <div class="link-container" th:if="${session.loggedInUser.getRoleValue().equalsIgnoreCase('ADMIN')}">
                    <a id="index" th:href="@{/}">FORSIDE</a>
                    <a id="admin" th:href="@{/admin}">ADMIN</a>
                    <a id="statistics" th:href="@{/statistics}">STATISTIK</a>
                </div>

                <div class="link-container" th:if="${session.loggedInUser.getRoleValue().equalsIgnoreCase('BUSINESS_DEVELOPER')}">
                    <a id="index" th:href="@{/}">FORSIDE</a>
                    <a id="statistics" th:href="@{/statistics}">STATISTIK</a>
                </div>

                <div class="link-container" th:if="${session.loggedInUser.getRoleValue().equalsIgnoreCase('DATA_RECORDING') ||
                                            session.loggedInUser.getRoleValue().equalsIgnoreCase('MECHANIC')}">
                        <a id="index" th:href="@{/}">FORSIDE</a>
                </div>
                </div>
                <div class="button-container">
                    <a class="navbar-link-btn" th:href="@{/logout}">LOG UD</a>
                </div>
        </div>
    </div>
    <div class="navbar-blank-box"></div>
</div>

</body>
</html>