<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link th:href="@{/CSS/login.css}" rel="stylesheet">
</head>
<body>

<div class="main-div">

    <img src="/images/Bilabonnement logo.png" alt="Bilabonnement Logo" class="logo" />

    <div class="login-header">

        <h1>
            Velkommen til Fleet Manager
        </h1>
        <p>
            Login for at komme i gang
        </p>
    </div>

    <div class="login-form">
        <div class="toolbar">
        </div>
        <form th:action="@{/processLogin}" method="post">
            <div>
                <input type="text" id="shortname" name="shortname" placeholder="Brugernavn"/>
            </div>
            <div>
                <input type="password" id="password" name="password" placeholder="Password"/>
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
        </form>
    </div>

</div>

</body>
</html>