<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Leje aftaler </title>
    <link rel="icon" type="image/x-icon" href="/images/bilabonnement-favicon-black.ico">
    <link rel="icon" type="image/x-icon" href="/images/bilabonnement-favicon-black.ico" media="prefers-color-scheme: light">
    <link rel="icon" type="image/x-icon" href="/images/bilabonnement-favicon-white.ico" media="(prefers-color-scheme: dark)">
    <link th:href="@{/css/navbar.css}" rel="stylesheet">
    <link th:href="@{/css/lease-details.css}" rel="stylesheet">

</head>
<body>
<header th:replace="~{fragments.html :: navbar}"></header>


<h1>Detaljer for Leasingaftale</h1>
<table>
    <tr><th>Bilens stelnummer:</th><td th:text="${leaseAgreement.getCar().getVinNumber()}"></td></tr>
    <tr><th>Customer ID:</th><td th:text="${leaseAgreement.getCustomer().getCustomerId()}"> </tr>
    <tr><th>Customer Name:</th><td th:text="${leaseAgreement.getCustomer().getFirstName()} + ' ' + ${leaseAgreement.getCustomer().getLastName()}"></td>
    <tr><th>Leasetype:</th><td th:text="${leaseAgreement.leaseType}"></td></tr>
    <tr><th>Pris:</th><td th:text="${leaseAgreement.leasePrice}"></td></tr>
    <tr><th>Startdato:</th><td th:text="${#temporals.format(leaseAgreement.leaseStartDate.toLocalDateTime(), 'dd-MM-yyyy')}"></td> </tr>
    <tr><th>Slutdato:</th><td th:text="${#temporals.format(leaseAgreement.leaseEndDate.toLocalDateTime(), 'dd-MM-yyyy')}"></td></tr>
    <tr><th>Returneringssted:</th><td th:text="${leaseAgreement.returnLocation}"></td></tr>
    <tr><th>Er lease aktiv?:</th><td th:text="${leaseAgreement.active}"></td></tr>

</table>

<br>
<div class="button-container no-print">
    <button onclick="window.print()" style="margin-bottom: 20px;">🖨️ Print</button>

</div>

<div class="button-container no-print">
    <form th:action="@{/cars}" method="get">
        <button type="submit">← Tilbage til oversigten </button>
    </form>

    <form th:action="@{/toggleLeaseStatus}" method="get">
        <input type="hidden" name="lease_agreement_id" th:value="${leaseAgreement.leaseAgreementId}">
        <button type="submit">Sæt lease inaktiv</button>
    </form>

</div>



</body>
</html>