<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>KPIer</title>
    <link th:href="@{/css/navbar.css}" rel="stylesheet">
    <link th:href="@{/css/statistics.css}" rel="stylesheet">


</head>
<body>
<header th:replace="~{fragments.html :: navbar}"></header>

<div class="widget-section">
    <div class="widget-row">
        <div class="widget">
            <p>Biler i alt</p>
            <p th:text="${numberOfCars}"></p>
        </div>
        <div class="widget">
            <p>Biler lejet ud</p>
            <p th:text="${numberOfCarsRentedOut}"></p>
        </div>
        <div class="widget">
            <p>Ledige biler</p>
            <p th:text="${numberOfCarsAvailable}"></p>
        </div>
        <div class="widget">
            <p>Samlet værdi på udlejningskontrakter</p>
            <p th:text="${totalValueOfActiveLeaseAgreements}"></p>
        </div>
        <div class="widget">
            <p>Gennemsnitlig værdi på udlejningskontrakter</p>
            <p th:text="${averageLeaseAgreementValue}"></p>
        </div>
        <div class="widget">
            <p>test</p>
            <p>testing testing </p>
        </div>
    </div>
</div>


</body>
</html>